:root {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
}
/* * {
  outline: 1px solid red;
} */
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family:
    DM Sans,
    sans-serif;
  background: linear-gradient(to top left, var(--text-main), var(--text-muted));
  /* background: linear-gradient(to top left, var(--text-main), var(--bg-card)); */
  color: var(--bg-main);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

.section {
  margin: 200px 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Nav container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1px 30px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(0, 0, 0, 0.137);
}

nav a:hover {
  color: var(--text-main);
}

/* Nav links */
.nav-links a {
  color: var(--bg-main);
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}
/* Hero Section */
.hero {
  display: flex;
  margin: 8rem 0;
  align-items: center;
  justify-content: space-between;
}
.hero-quote {
  font-style: italic;
  opacity: 0.75;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  width: 80%;
}
.hero img {
  border-radius: 20%;
  margin-left: 2rem;
  border: 4px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.hero-left {
  flex: 1;
  width: 50%;
}
.hero-right {
  flex: 0 0 auto;
}
.hero-left p {
  margin-bottom: 0;
}
.hero-title span {
  display: block;
}

.hero-title p {
  margin-top: 50px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}
.hero-left h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero-title {
  font-size: 100px;
  font-weight: 1000;
}
.hero-quote span {
  display: block;
  font-weight: 900;
  color: black !important;
}

/* --------------- */
/* About Section */
.aboutCard {
  background: var(--text-main);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: 3rem;
}

#about h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#about p {
  line-height: 1.7;
}

/* ------------ */

/* Project Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes the last item to the bottom */
  background: var(--text-main);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  min-height: 300px; /* optional: ensures cards are same height */
  transition:
    transform 0.4s ease,
    box-shadow 0.2s ease;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.336);
}

.project h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.project p {
  margin: 0;
  line-height: 1.6;
}

.tech {
  margin-top: auto;
  font-size: 0.85rem;
  color: var(--text-muted);
}
/* -------------- */

/* ContactSection */
#contact h3 {
  text-align: center;
  margin-bottom: 3rem;
}
.contactContainer {
  display: flex;
  gap: 3rem;
  align-items: stretch;
}
.contactLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
.contactSpot a {
  color: var(--bg-main);
  text-decoration: none;
}
.contactSpot {
  background: var(--text-main);
  padding: 1rem 1rem;
  border-radius: 12px;

  border: 1px solid rgba(15, 23, 42, 0.082);
  transition:
    transform 0.9s ease,
    box-shadow 0.9s ease;
  font-weight: 500;
  text-decoration: none;
}
.contactSpot p {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--text-muted);
}
.contactSpot:hover {
  transition:
    transform 0.9s ease,
    box-shadow 0.9s ease;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.336);
}
.contactRight {
  flex: 1;

  display: grid;
  place-items: center;
  padding: 2rem;

  background: var(--text-main);
  border-radius: 16px;
  border: 1px solid rgba(15, 23, 42, 0.12);
}
.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contactForm input,
.contactForm textarea {
  /* width: 100%; */
  padding: 0.9rem 1rem;
  font-family: inherit;
  font-size: 1rem;

  border-radius: 10px;
  border: 1px solid rgba(15, 23, 42, 0.15);

  background: rgba(255, 255, 255, 0.6);
  color: var(--bg-main);

  outline: none;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: rgba(15, 23, 42, 0.6);
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: var(--accent);
  background: rgba(255, 255, 255, 0.85);
}

/* Button */
.contactForm button {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;

  border-radius: 10px;
  border: none;

  background: var(--accent);
  cursor: pointer;
}

.contactForm button:hover {
  background: var(--text-muted);
}

/* -------------- */

@media (max-width: 1000px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project {
    min-height: auto;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin: 0 0;
  }
  .hero-quote {
    font-style: italic;
    opacity: 0.75;
    width: 100%;
    margin: 20px auto;
  }
  .contactContainer {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-title span {
    display: block;
  }
}
