:root {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
}
/* * {
  outline: 1px solid red;
} */

body {
  margin: 0;
  padding: 0;
  font-family:
    DM Sans,
    sans-serif;
  background: linear-gradient(to top left, var(--text-main), var(--text-muted));
  /* background: linear-gradient(to top left, var(--text-main), var(--bg-card)); */
  color: var(--bg-main);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

.section {
  margin: 200px 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Nav container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1px 30px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(0, 0, 0, 0.137);
}

nav a:hover {
  color: var(--text-main);
}

/* Nav links */
.nav-links a {
  color: var(--bg-main);
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}
/* Hero Section */
.hero {
  display: flex;
  margin: 6rem 0;
  align-items: center;
  justify-content: space-between;
}
.hero img {
  border-radius: 20%;
  margin-left: 2rem;
}
.hero-left {
  flex: 1;
  width: 50%;
}
.hero-right {
  flex: 0 0 auto;
}
.hero-left p {
  margin-bottom: 0;
}
.hero-title span {
  display: block;
}
.hero-left h2 {
  font-size: 2.5rem;
  /* margin-bottom: 0.5rem; */
}

.hero-title {
  font-size: 70px;
}

/* --------------- */
/* About Section */
.aboutCard {
  background: var(--text-main);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: 3rem;
}

#about h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#about p {
  line-height: 1.7;
}

/* ------------ */

/* Project Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes the last item to the bottom */
  background: var(--text-main);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  min-height: 300px; /* optional: ensures cards are same height */
  transition:
    transform 0.4s ease,
    box-shadow 0.2s ease;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.336);
}

.project h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.project p {
  margin: 0;
  line-height: 1.6;
}

.tech {
  margin-top: auto;
  font-size: 0.85rem;
  color: var(--text-muted);
}
/* -------------- */
@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project {
    min-height: auto;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin: 0 0;
  }
}

@media (max-width: 700px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-title span {
    display: block;
  }
}
